application:
  actions: actions
  runtimeManifest:
    packages:
      automation-kit:
        license: Apache-2.0
        actions:
          firefly-services:
            function: actions/firefly-services/index.js
            web: 'yes'
            runtime: nodejs:18
            limits:
              memorySize: 1024
              concurrency: 10
              timeout: 300000
            inputs:
              LOG_LEVEL: info
              fireflyServicesApiClientId: $FIREFLY_SERVICES_API_CLIENT_ID
              fireflyServicesApiClientSecret: $FIREFLY_SERVICES_API_CLIENT_SECRET
              fireflyServicesApiScopes: $FIREFLY_SERVICES_API_SCOPES
              inDesignFireflyServicesApiClientId: $INDESIGN_FIREFLY_SERVICES_API_CLIENT_ID
              inDesignFireflyServicesApiClientSecret: $INDESIGN_FIREFLY_SERVICES_API_CLIENT_SECRET
              inDesignFireflyServicesApiScopes: $INDESIGN_FIREFLY_SERVICES_API_SCOPES
            annotations:
              require-adobe-auth: true
